<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to Big Title</h1>

  <h2 style="text-align: center">
    This is the home page for Big Title app.
  </h2>
  <div style="width: 14%; margin: auto; padding-top: 50px">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"%>
  </div>
</div>