<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
      <%= image_tag("bitly_logo.png", height: 25) %>
      </a>
    </div>
    <div class="navbar-form">

    </div>
  </div>
</nav>