<div class="jumbotron" align="center">
    <h2 align="center">URL too long? Snip it.</h2>
    <div class="row">
      <div align="center" class="col-md-3 col-md-offset-3">
        <%= link_to "Create A Shorty", new_url_path, class: "btn btn-primary" %>
      </div>
      <div align="center" class="col-md-3">
        <%= link_to "View Existing URLs", urls_path, class: "btn btn-primary" %>
      </div>
    </div>
</div>
