<h1>CMMly Key</h1>
<table>
  <tr>
    <th>URL</th>
    <th>CMMly URL</th>
  </tr>
<% @urls.each do |u|%>
  <tr>
    <td><%= link_to u.address %></td>
    <td><%= link_to "https://cmm.ly/#{u.bitly_clone}", url_path(:short => u.bitly_clone)%></td>
  </tr>
<% end %>
</table>
