<%= link_to "Create a new short link", new_url_path %>

<ul>
  <% @urls.each do |url| %>
    <li>
      <%= url.long_url %><br>
      <%= link_to "#{short_url_url(url.short_url)}", short_url_path(url.short_url) %>
    </li>
  <% end %>
</ul>
