<div class="col-md-10 col-md-offset-1">
  <table class="table table-bordered">
    <tr>
      <th>Long Url</th>
      <th>Short Url</th>
      <th>Click Count</th>
    </tr>
    <tr>
      <td><%= @url.long_url %></td>
      <td><%= link_to "localhost:3000/urls/#{@url.short_url}", url_path(@url) %></td>
      <td><%= @url.click_count %></td>
      </td>
    </tr>
  </table>
</div>
