
<div class="container centered">
  <h1>Bitly Clone </h1>
  <%= link_to "New Link", new_link_path, class: "btn btn-success" %> <br><br>
</div>
<div class="container">
  <div>
    <% @links.each do |link| %>
      <div class="well">
        <h4> Long:  <%= link.long_url %> </h4> 
        <h5> Short: <%= link.short_url %> </h5> 
      </div>

    <% end %>
  <div>

  

</div>





