<%= render 'shared/errors', obj: @link %>

<div class="container">
<h3> New URL </h3>

  <div class="well">
    <%= form_for(@link) do |f|  %>
      <b> Enter URL: </b> <br>
      <%= f.text_field :long_url, class: "form-control" %> <br>

      <%= f.submit class: "btn btn-primary" %>

    <% end %>
  </div>
</div>