<% if errors.any? %>
    <div id="error_explanation" class="<%= classes %>">
      <h2><%= pluralize(errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
        <% errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>