<%= content_tag(:h1, "Hello!") %>

  <div class="jumbotron">
    <h1>Welcome to chomp.it!</h1>
    <p>Chomp.it is the free and easy URL shortener. Just paste a URL in the field below
    and you'll get a shortened URL that you can share over social media.</p>
    <div class="input-group">
       <input type="text" class="form-control" placeholder="http://www.whateveryouwanttoshorten.whatever/...">
       <span class="input-group-btn">
            <button class="btn btn-default" type="button">Chomp.it!</button>
       </span>
    </div>
  </div>
