<%= render partial: 'header', locals: { title: current_user.username } %>

<%= render 'flash_messages' %>

<p>This page is <strong>very</strong> secret and <marquee style="width: 100px;">important</marquee>.</p>
