
@mixin base-form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin-top: 30px;
  padding: 30px;
  border-radius: 20px;
  background-color: #E0E0E0;

  .field {
    display: flex;
    flex-direction: column;

    label {
      font-size: larger;
    }

    input {
      width: 40vw;
    }
  }
}