@import "bootstrap";

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
}

form {
	text-align: center;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
		text-align: center;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}