// Place all the styles related to the Urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
}

.form-group {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
