// Place all the styles related to the Urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "form-mixins";

.flex-container {
  justify-content: center;
}

form.new_url {
  @include base-form;
}

//div.field {
//
//  label {
//    font-size: larger;
//  }
//
//  input#url_long_url {
//    width: 50vw;
//  }
//}

table.urls {
  thead > tr > th {
    text-align: center;
  }

  tbody > tr {
    &> td:first-child div{
      width: 40em;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}