<footer>
  <div class="navbar">
    <small>Joe Reich, 2015</small>
    <ul class="nav nav-pills">
      <li><%= link_to "Link A", '#' %></li>
      <% if current_user == nil %>
        <li><%= link_to "Sign up", signup_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      <% else %>
        <li><%= link_to "Log out", login_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</footer>